html {
        
}
    head {
        position: fixed;
        top:10vh;
        left:10vh;
        right:10vh
    }
    .news-title {
        display: grid;
        justify-content: center;
        grid-template-columns: 20% 60% 20%;
        height: 18vh;
        border-bottom: 1px solid black;
        width:100vw;

    }

    .news-title>span {
        justify-self: end;
        grid-column: 2/3;
        
    }
    h1 {
        color: aquamarine;
        font-size: 4vh;
        font-weight: 1000;
        display: inline-block;
        font-family: 'Dancing Script', cursive;
        width:100vw;
    }
    
    li {
        border: 1px solid black;
    }
    .news-title>ul{
        display: flex;
        list-style: none;
        flex-direction: row;
        align-self: center;
        justify-content: end;
        z-index: -3;
    }
    
    .news-title>span {
        grid-column: 2 / 3;
        font-size: 3vh;
        justify-self: center;
    }
    
    
    .menu-icon {
        opacity: 0;
    }
    .magnifying-lense {
        width:5vh;
    }
    
    .user {
        width:5vh;
    }
    
    .title-image {
     position: fixed;
     left: 100vh;
     top:70vh;
    }
    
    .whale-container {
        height: 45vh;
        width:100vw;
    }
    
    .headline {
        display: grid;
        height: 100px;
        width: 400px;
        background-color: rgb(69, 147, 252);
        font-size: 1vh;
        height: 17vh;
        z-index: 1;
        align-content: center;
        padding-left: 5vh;
        justify-content: start;
    }

    h2{
        display: inline-block;
        width: 50px;
        height: 200px;
        font-size: 100px;
        margin: 0;
        padding: 0;
    }
    



@media screen and (min-width:600px) {

    html {
        
    }
        head {
            position: fixed;
            top:10vh;
            left:10vh;
            right:10vh
        }
        .news-title {
            display: grid;
            justify-content: center;
            grid-template-columns: 20% 60% 20%;
            height: 18vh;
            border-bottom: 1px solid black;

        }

        .news-title>span {
            justify-self: end;
            grid-column: 2/3;
        }
        h1 {
            color: aquamarine;
            font-size: 4vh;
            font-weight: 1000;
            display: inline-block;
            font-family: 'Dancing Script', cursive;
        }
        
        li {
            border: 1px solid black;
        }
        .news-title>ul{
            display: flex;
            list-style: none;
            flex-direction: row;
            align-self: center;
            justify-content: end;
            z-index: -3;
        }
        
        .news-title>span {
            grid-column: 2 / 3;
            font-size: 3vh;
            justify-self: center;
        }
        
        
        .menu-icon {
            opacity: 0;
        }
        .magnifying-lense {
            width:5vh;
        }
        
        .user {
            width:5vh;
        }
        
        .title-image {
         position: fixed;
         left: 100vh;
         top:70vh;
        }
        
        .whale-container {
            height: 45vh;
            width:100vw;
        }
        
        .headline {
            display: grid;
            height: 100px;
            width: 50px;
            background-color: rgb(69, 147, 252);
            font-size: 1vh;
            height: 17vh;
            z-index: 1;
            align-content: center;
            padding-left: 5vh;
            justify-content: start;
        }

        h2{
            display: inline-block;
            width: 50px;
            height: 200px;
            font-size: 100px;
            margin: 0;
            padding: 0;
        }
        



}
    

@media screen and (max-width:840px) {
    
        head {
              
        }
            
    html {
            width:100vw;
            }
    
            .news-title {
                display: grid;
                justify-content: center;
                grid-template-columns: 20% 60% 20%;
                height: 18vh;
                border-bottom: 1px solid black;
                width:100vw;
            }
    
            .news-title>span {
                justify-self: end;
                grid-column: 2/3;
            }
            h1 {
                font-size: 8vh;
                font-weight: 1000;
                display: inline-block;
                font-family: 'Dancing Script', cursive;
            }
            
            li {
                border: 1px solid black;
            }
            .news-title>ul{
                display: flex;
                list-style: none;
                flex-direction: row;
                align-self: center;
                justify-content: end;
                z-index: -3;
            }
            
            .news-title>span {
                grid-column: 2 / 3;
                font-size: 3vh;
                justify-self: center;
            }
            
            
            .menu-icon {
                opacity: 0;
            }
            .magnifying-lense {
                width:5vh;
            }
            
            .user {
                width:5vh;
            }
            
            .title-image {
                position: absolute;
                width:80vh;
                top:2vh;
                left:50vh;
                z-index: -1;
            }
            
            .whale-container {
                height: 45vh;
            }
            
            .headline {
                display: grid;
                background-color: rgb(69, 147, 252);
                font-size: 5vh;
                height: 17vh;
                z-index: 1;
                align-content: center;
                padding-left: 5vh;
                width: 100vw;
                white-space: pre;
            }
            
}


@media screen and (min-width:1024px) {
    
    head {
      
    }
    
    html {
        width:100vw;
    }

    .news-title {
        display: grid;
        justify-content: center;
        grid-template-columns: 20% 60% 20%;
        height: 18vh;
        border-bottom: 1px solid black;
        width:100vw;
    }

    .news-title>span {
        justify-self: end;
        grid-column: 2/3;
    }
    h1 {
        font-size: 8vh;
        font-weight: 1000;
        display: inline-block;
        font-family: 'Dancing Script', cursive;
    }
    
    li {
        border: 1px solid black;
    }
    .news-title>ul{
        display: flex;
        list-style: none;
        flex-direction: row;
        align-self: center;
        justify-content: end;
        z-index: -3;
    }
    
    .news-title>span {
        grid-column: 2 / 3;
        font-size: 3vh;
        justify-self: center;
    }
    
    
    .menu-icon {
        opacity: 0;
    }
    .magnifying-lense {
        width:5vh;
    }
    
    .user {
        width:5vh;
    }
    
    .title-image {
        position: absolute;
        width:80vh;
        top:2vh;
        left:50vh;
        z-index: -1;
    }
    
    .whale-container {
        height: 45vh;
    }
    
    .headline {
        display: grid;
        background-color: rgb(69, 147, 252);
        font-size: 5vh;
        height: 17vh;
        z-index: 1;
        align-content: center;
        padding-left: 5vh;
        width: 100vw;
        white-space: pre;
    }
    
    }


@media screen and (min-width:1920px) {
    
    head {
      
    }
    
    .news-title {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        height: 15vh;
        border-bottom: 1px solid black;
    }
    h1 {
        display: inline-block;
        grid-column: 2/3;
        font-family: 'Dancing Script', cursive;
    }
    
    li {
        border: 1px solid black;
    }
    .news-title>ul{
        display: flex;
        list-style: none;
        flex-direction: row;
        align-self: center;
        justify-content: end;
        z-index: -3;
    }
    
    .news-title>span {
        grid-column: 2 / 3;
        font-size: 3vh;
        justify-self: center;
    }
    
    
    .menu-icon {
        
    }
    .magnifying-lense {
        width:5vh;
    }
    
    .user {
        width:5vh;
    }
    
    .title-image {
        position: absolute;
        width:80vh;
        top:2vh;
        left:50vh;
        z-index: -1;
    }
    
    .whale-container {
        height: 45vh;
    }
    
    .headline {
        display: grid;
        background-color: rgb(69, 147, 252);
        font-size: 5vh;
        height: 17vh;
        z-index: 1;
        align-content: center;
        padding-left: 5vh;
        width: 100vw;
    }
    
}

@media screen and (min-width:1920px) {
    
head {
  
}

.news-title {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 15vh;
    border-bottom: 1px solid black;
}
h1 {
    display: inline-block;
    grid-column: 2/3;
    font-family: 'Dancing Script', cursive;
}

li {
    border: 1px solid black;
}
.news-title>ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    align-self: center;
    justify-content: end;
    z-index: -3;
}

.news-title>span {
    grid-column: 2 / 3;
    font-size: 3vh;
    justify-self: center;
}


.menu-icon {
    
}
.magnifying-lense {
    width:5vh;
}

.user {
    width:5vh;
}

.title-image {
    position: absolute;
    width:80vh;
    top:2vh;
    left:50vh;
    z-index: -1;
}

.whale-container {
    height: 45vh;
}

.headline {
    display: grid;
    background-color: rgb(69, 147, 252);
    font-size: 5vh;
    height: 17vh;
    z-index: 1;
    align-content: center;
    padding-left: 5vh;
    width: 100vw;
}

}
